<h2>My list of restaurants</h2>
<ul>
<% @restaurants.each do |restaurant| %>
  <li><%= link_to("#{restaurant[:name]}", "/restaurants/#{restaurant[:id]}")%></li>
<% end %>
</ul>

<p><%= link_to("+Add a new restaurant", "/restaurants/new") %></p>
